@use "sass:math";

@mixin caret($direction, $width, $height, $color) {
  width: 0;
  height: 0;

  border-left: #{math.div($width, 2)} solid transparent;
  border-right: #{math.div($width, 2)} solid transparent;
  border-top: #{math.div($width, 2)} solid transparent;
  border-bottom: #{math.div($width, 2)} solid transparent;

  @if $direction == 'up' {
    border-bottom: $height solid $color;
    border-top: 0;
  } @else if $direction == 'down' {
    border-top: $height solid $color;
    border-bottom: 0;
  } @else if $direction == 'left' {
    border-right: $height solid $color;
    border-left: 0;
  } @else {
    border-left: $height solid $color;
    border-right: 0;
  }
}
