// utils
// @import 'utils/color' 

// base layout
@import 'base/base' 

//Vendors
// Import only what you need, or full Bootstrap
@import 'vendors/bootstrap'
// @import '../../node_modules/bootstrap/scss/bootstrap';

@import 'components/buttons'
@import 'components/card'



// components
@import 'layout/navbar'

// layout
@import 'layout/banner'

// themes
@import 'themes/theme'



// //pages

body, html
    color: $gray-500
    scroll-behavior: smooth
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-font-smoothing: unset
    -moz-osx-font-smoothing: grayscale
    font-smoothing: antialiased
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    backface-visibility: hidden
    scroll-padding-top: 125px
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005)
    font-weight: 400
    line-height: 1.5
    font-size: 16px
    background-color: $white-color
    font-family: "Inter", sans-serif




